html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        each data in trdata
            ul 
                li #{data.year}
                li #{data.month}
                li #{data.day}
                li #{data.temp}
                li #{data.humi}
        script(type='text/javascript', src='/lib/angular/angular.min.js')
        script(type='text/javascript', src='/home.js')